<% content_for :title do %>
  Account Activation | Knack Registry
<% end %>
<% content_for :head do %>
        <%= stylesheet_link_tag "/stylesheets/Pages/AddMyOwnGift.css" %>

<%end%>

  <% content_for :pagename do %>
    <div>Account Activation</div>

  <% end %>

  <% content_for :registry do %>
      <div class="bl-block">
        <div class="blue-line">
          <div class="registrants">

          </div>
          </div>
        </div>
  <% end %>
    <% content_for :background do %>
      <div class="bl-block">
        <div class="blue-line">
          <input type="hidden" value="fghj"/>
        </div>
      </div>
  <% end %>



    <%#*-----------------------------%>
    <%#*Content%>
    <%#*-----------------------------%>

  <div class="withBackground">
    <div class="content">
     <div class="mainBlock">
       <% if  @partner.blank? %>
        Incorrect link
       <% else %>
        <p>Your account has been activated successfully.</p>
        <%= link_to "Go to Sign in page", :controller => :partner, :action => :partnerslogin %>
       <% end %>
      </div>
    </div>
  </div>
