#product-table
{
    margin:20px 0 0;
}

.div-btn-filter
{
    float: right;
    margin-right:30px;
}

.sline
{
    height: 80px;
}

#filter
{
    width: 90%;
    float: left;
}

#product-table
{
    margin: 0;
}

/*================== PAGING ==============================*/
.pagination{
    margin: 10px 9px 15px;
    float: right;
    font-size: 13px;
}

.pagination a{
    text-decoration: none;

}
.pagination a, .pagination span{
    padding: 0.2em 0.3em
}

.pagination .current {
    font-weight: bold;
}

.div-pager{
    margin: 10px 9px 15px;
    float: right;
    font-size: 13px;   
}

.div-pager span{
    margin: 0 30px 0 30px;
}

.div-pager span b{
    font-size: 13px;
}
.div-pager a{
    text-decoration: none;
}

.div-pager select{
    height: 23px;
    text-align: center;
    width: 60px;
    font-size: 16px;
}