
body{
    font-size: 12px;
    color:#8C8C8C;
    font-family:Helvetica;
    font-size:12px;
    line-height:20px;
}

.loginContent{
    width: 915px;
    margin: 70px auto 30px auto;
}

.descriptionTD{
    width: 235px;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
}

.rightPane{
    width: 684px;
    vertical-align: top;
    padding-left: 0px;
}
