<% content_for :title do %>
  Error
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag "/stylesheets/Pages/Error.css" %>
<%end%>

  <% content_for :pagename do %>
    <div>Error</div>

  <% end %>

  <% content_for :registry do %>
  <% end %>
  <% content_for :background do %>
  <% end %>

    <%#*-----------------------------%>
    <%#*Content%>
    <%#*-----------------------------%>

    <div class="content">
     <div class="mainBlock">
        We apologize for the error.  Something went wrong and we'd appreciate if you wrote the Knack helpdesk (<a href= "mailto:support@knackregistry.com" >support@knackregistry.com</a>) with information about the sequence of events that led to this error.
      </div>
    </div>
