<% content_for :header do %>
    <%= stylesheet_link_tag "/stylesheets/Global.css" %>
    <%= stylesheet_link_tag "/stylesheets/Pages/Buy/buy_ext.css" %>
    <%= javascript_include_tag "/javascripts/pages/Buy/buy_ext.js"%>
<% end %>
<div id="confirm">
  <h2>
    Thank You For Confirming Your Order
  </h2>
  <p>
    The registry will be updated to reflect your purchase.
  </p>
  <p>
    Thanks for using Knack! You may now close this window.
  </p>
  <a href="#" id="cancel"> Close Windows </a>
</div>
