<div class="block-add-ext tag-none">
  <div class="block-add-ext-inner">
    <h2>
      This gift is available from another site.
    </h2>
    <%= image_tag "/images/pages/buy_ext/link_out.jpg" %>
    <div class="text">
      <p>
        The gift is available at <span class="ext-item-src-name"> </span>
      </p>

      <p>
        To order the gift press "continue"
      </p>
      <p>
        Two new windows will appear, one with the gift, and the other with instructions for purchasing the gift
      </p>
      <p class="note">
        If you are using a mobile phone, or tablet two new tabs will open.
      </p>
    </div>
  </div>
  <a class="do-contribute-ext" href="#" itemid="error" data-url="error">Continue</a>
</div>
