<br/>
<br/>
<div class="header-text">
  Now you are ready to start adding gifts!
</div>
<div class="item-text">
  1. Browse the web for items to add to your registry.
</div>
<div class="item-text">
  2. When you find something you like press the 'Add to Knack Registry' button in your browsers toolbar.
</div>
<%= image_tag "/images/toolbar/how2.png", :alt => 'Toolbar' %>
<div class="item-text">
  3. The 'Add to registry' panel opens up.  Fill in any additional details, and click 'Add to List'
</div>
<div class="item-text">
  The item has been added to your registry!
</div>

<%= image_tag "/images/toolbar/how3.png", :alt => 'Toolbar' %>
