<%= stylesheet_link_tag "/javascripts/external_button/knackmain.css"  %>
<div class="knackRegisterWindow">
  <div id='knack-header-register'>
          <div class='div-knack-header-register'><span id='ht'>Registration</span></div>
          <a href='javascript:void(0)' onClick='exitKnackRegister();' ><img class='knack-close' src='/images/design/close/btn_close_x.png'/></a>
  </div>
  <div  id='knack-content-wraper-register'>
    <div class='div-block'>
      <div class='editor-label'>First Name*</div>
      <div class='editor-field'><input type='input' id='knackFirstName'/></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>Last Name*</div>
      <div class='editor-field'><input type='input' id='knackLastName'/></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>Email*</div>
      <div class='editor-field'><input type='input' id='knackEmail'/></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>Password*</div>
      <div class='editor-field'><input type='input' id='knackPass'/></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>Confirm Password*</div>
      <div class='editor-field'><input type='input' id='knackConfPass'/></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>City*</div>
      <div class='editor-field'><input type='input' id='knackCity'/></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>State*</div>
      <div class='editor-field'><select id='knackState'><option value='0' selected>please select</option><option value='1'>Alabama</option><option value='2'>Alaska</option><option value='3'>Arizona</option><option value='4'>Arkansas</option><option value='5'>California</option><option value='6'>Colorado</option><option value='7'>Connecticut</option><option value='8'>Delaware</option><option value='9'>District of Columbia</option><option value='10'>Florida</option><option value='11'>Georgia</option><option value='12'>Hawaii</option><option value='13'>Idaho</option><option value='4'>Illinois</option>	<option value='15'>Indiana</option>	<option value='16'>Iowa</option><option value='17'>Kansas</option><option value='18'>Kentucky</option><option value='19'>Louisiana</option><option value='20'>Maine</option><option value='21'>Matyland</option><option value='22'>Massachusetts</option><option value='23'>Michigan</option><option value='24'>Minnesota</option><option value='25'>Mississippi</option><option value='26'>Missouri</option><option value='27'>Montana</option><option value='28'>Nebraska</option><option value='29'>Nevada</option><option value='30'>New Hampshire</option><option value='31'>New Jersey</option><option value='32'>New Mexico</option><option value='33'>New York</option><option value='34'>North Carolina</option><option value='35'>North Dacota</option><option value='36'>Ohio</option><option value='37'>Oklahoma</option><option value='38'>Oregon</option><option value='39'>Pennsylvania</option><option value='40'>Puerto Rico</option><option value='41'>Rhode Island</option><option value='42'>South Carolina</option><option value='43'>South Dacota</option><option value='44'>Tennessee</option><option value='45'>Texas</option><option value='46'>Utah</option><option value='47'>Vermont</option><option value='48'>Virginia</option><option value='49'>Washington</option><option value='50'>West Virginia</option><option value='51'>Wisconsin</option><option value='52'> Wyoming</option></select></div>
    </div>
    <div class='div-block'>
      <div class='editor-label'>ZIP*</div>
      <div class='editor-field'><input type='input' id='knackZIP'/></div>
    </div>
    <div id='div-accept'>
      <input type='checkbox' id='knackAgree'/> <span>I accept the </span> <a target='_blank' href='https://knackregistry.com/info/policy'><span class='sitePolicyHref'>Knackregistry.com's website policy</span></a>
    </div>
    <div class='div-block'>
      <div class='editor-label'><div style='visibility: hidden'>.</div></div>
      <div class='editor-field' style='text-align: right'><input type='button' id='knackBtnRegister' value=' '/></div>
    </div>
  </div>
</div>