<% content_for :title do %>
  Gift Givers | Knack Registry
<% end %>
  <div>
    <table>
      <tbody>
        <% @givers.each do |givers| %>
          <tr>
            <td><%= givers.FirstName %>  <%= givers.LastName %></td>
            <td><%= givers.Contribute %></td>
          </tr>
          <tr style="border-bottom: 1px solid #000;">
            <td>
              <%= givers.Notes %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>