<% content_for :title do %>
Help | Knack Registry
<% end %>
<% content_for :head do %>
    <%= stylesheet_link_tag "/stylesheets/Pages/HelpPage.css" %>
    <%= stylesheet_link_tag "/stylesheets/Global.css" %>
    <%= stylesheet_link_tag "/stylesheets/Pages/AboutUs.css" %>
<%end%>

<div class="div-c">

  <div class="topMenu">
    <table cellpadding="0px" cellspacing="0px">
      <tr>
        <td class="pageNameTD">
          Frequently Asked Questions
        </td>
        <td class="topMenuTD">
        </td>
      </tr>
    </table>
  </div>


  <div class="loginContent">
    <table cellpadding="0px" cellspacing="0px" border="0">
      <tr>
        <td class="descriptionTD">
          <div class="div-link-menu">
            <%= render :partial => 'info_links', :locals => {:selected => "FAQ"}%>
          </div>
        </td>

        <td class="rightPane">
          <div class="list">
            <ul class="ul-info">
              <li><a href="#ref4">Who can create a registry?</a></li>
              <li><a href="#ref7">How does knack make money?</a></li>
              <li><a href="#ref8">How are sales tax and shipping charges calculated?</a></li>
              <li><a href="#ref81">I'm having issues adding items from another site.</a></li>
              <li><a href="#ref18">How do I reset my password?</a></li>
              <li><a href="#ref9">How do I register for my honeymoon or add my own cash gift?</a></li>
              <li><a href="#ref10">How do I inform my guests about my registry?</a></li>
              <li><a href="#ref11">Who can give a gift?</a></li>
              <li><a href="#ref17">What happens when I register for an item on an external site?</a></li>
              <li><a href="#ref12">How do I manage my registry?</a></li>
              <li><a href="#ref13">How do I know my money is safe?</a></li>
              <li><a href="#ref14">How will I be notified know when I receive a gift?</a></li>
              <li><a href="#ref15">How long can I keep my account open?</a></li>
              <li><a href="#ref16">How do I know who gave me what?</a></li>
            </ul>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref4" >Who can create a registry?</a>
            </div>
            <div class="ruleContent">
              Anyone residing in United States over the age of 18 can create a registry.
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref7" >How does knack make money?</a>
            </div>
            <div class="ruleContent">
              We take a standard percentage of the sales we source to our partners, and receive affiliate fees from some of the sites we direct guests to to purchase gifts.  We also receive a percentage of any cash withdrawn from the system by our users.
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref8" >How are sales tax and shipping charges calculated?</a>
            </div>
            <div class="ruleContent">
              <p>
                When you add an item from the catalog, Knack will automatically calculate tax and shipping charges for the item
                and include it in the price your guests pay, you don't have to worry about a thing.
              </p>
              <p>
                When you add an item that is not in our catalog, we redirect your guests to the site that offers the gifts.  Applicable taxes and shipping will be calculated at checkout by that merchant.
              </p>
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref81" >I'm having issues adding items from another site.</a>
            </div>
            <div class="ruleContent">
              <p>

                For best results when adding gifts from other sites please follow the tips below.
              </p>
              <p>
                When adding gifts, it is important that you navigate to the page for the item that you would like to add.
                If you use the tool on the page for a category or a collection of items you will likely not get the correct name and price.
                You will also have issues if the item is displayed in a pop-up.  You can usually access the page for a specific items by clicking the product's name or following a "Product Details" link.
              </p>
              <p>
                The gift list tool may not capture the correct price if multiple prices are present on the page.  Therefore it is best to verify the price as you add items.
                Also today's sales price may not still be available when your guests purchase the gift.  So the safest choice is to use the regular purchase price.
              </p>

            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref18" >How do I reset my password?</a>
            </div>
            <div class="ruleContent">
              Step 1 : Navigate to the sign in page and select "Forgot Password" <br/>
              Step 2 : Enter your email address, which is also the username for your Knack account <br/>
              Step 3 : You will receive an email asking you to confirm you want to reset your password. Click the link to confirm you do. <br/>
              Step 4 : A new password will be emailed to you and you can now login into the system <br/>
              Step 5 : Once you're logged in, navigate to the profile page and change your password to something you'll have an easier time remembering.
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref9" >How do I register for my honeymoon or add my own cash gift?</a>
            </div>
            <div class="ruleContent">
              Sign into your account click the "Add Gift" link, then click the "Add Your Own Gift Tool".
              Using this tool you can add anything to your wedding registry.
              Register for anything you can imagine. A flight, a massage, snorkeling, ski tickets, a quilt from your favorite local linen store.  You decide!
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref10" >How do I inform my guests about my registry?</a>
            </div>
            <div class="ruleContent">
              <p>
                Sign in to your account and click share to see instruction on how to share your registry.
              </p>
              <p>
                You can share your registry using your registry url.  This link can be copied into invitations, emails or wedding
                websites. It will take guests directly to your registry.
              </p>
              <p>
                You can also add your registry to your wedding website using our Knack widgets.  Simply choose the widget you prefer, select the HTML below the widget,
                and copy it into your wedding website.
              </p>
              <p>
                You can also tell your guests to visit knackregistry.com, where they can search for your registry using your name.
              </p>
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref11" >Who can give a gift?</a>
            </div>
            <div class="ruleContent">
              <p>
                Any family, friend or guest with a valid Visa, Discover, Mastercard, American Express or Paypal account.
              </p>
              <p>
                We are able to accept international purchases, however International guests must have a paypal account and must use the paypal checkout option.
              </p>
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref17" >What happens when I register for an item on an external site?</a>
            </div>
            <div class="ruleContent">
               <p>
                 When a guest chooses to purchase an item that you have added from another site they will be notified that they are going to be linked to
                 another site to make the purchase.  Once they acknowledge they want to continue two browser windows will open, one showing the gift you registered
                 for, and the other giving the guest all the information they need to purchase the item.  This includes your address,
                 plus any instructions you have left regarding color, style size, etc...
               </p>
               <p>
                 Once the user has placed the order they will confirm their order with Knack.
                 Your registry will be updated to reflect the number of items they purchased and you'll receive an electronic note from Knack notifying you about the gift.
               </p>
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref12" >How do I manage my registry?</a>
            </div>
            <div class="ruleContent">
              <p>
                When you log into your account you will be taken to the manage registry page which shows all the gifts on your registry.
                Each item on your registry has a type and a status
              </p>

              Gift Types:
              <ul>
                <li> Catalog: Guests will order this gift on the Knack Site from one of our partners. </li>
                <li> Unique: This is a one of a kind item from one of our partners, when you add it to your registry it will be removed from the catalog..</li>
                <li> Cash: Guests will order this gift on Knack and you will receive cash to buy the gift.</li>
                <li> External: Guests will be directed to another site to purchase the gift.  </li>
              </ul>

              Gift Statuses:
              <ul>
                <li> Available: Gifts that have not yet been purchased by a guest.  A gift that has partial contributions is also shown in this state.</li>
                <li> Purchased: Gifts that have been purchased by your guests, but that you have not yet ordered from the partner.</li>
                <li> Ordered: Gifts that have been ordered or exchanged for cash.  Ordered gifts will show shipping information, including estimated delivery data and a tracking number.  </li>
              </ul>

              <p>
                To the right of each registry item is a list of available actions.
                For example new items have the links "delete" and "edit", purchased items have the links "Order" and "Exchanged for Cash".
              </p>
              <p>
                At the top of the page you will see the total Knack Credit in your registry.
                All guest contributions to cash or catalog items are applied toward this credit.
                Credit is deducted when you order your gifts, or withdraw cash.
              </p>
              <p>
                You can see a detailed break down of all credit and debits by clicking on the credit amount.
              </p>
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref13" >How do I know my money is safe?</a>
            </div>
            <div class="ruleContent">
              All funds contributed by our guests are deposited into an FDIC insured bank account at Wells Fargo. This account is used only for member gifts and redemption requests.
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref14" >How will I be notified when I receive a gift?</a>
            </div>
            <div class="ruleContent">
              You will receive an email notifying you when a gift is given.  You can also can log into your account at anytime to keep track of your gifts.
            </div>
          </div>

          <div class="rule">
            <div class="ruleTopic">
              <a name="ref15" >How long can I keep my account open?</a>
            </div>
            <div class="ruleContent">
              Registries will be closed 18 months after the event date.  If a registry is closed with money in the queue a check will be sent for the balance.
            </div>
          </div>
          <div class="rule">
            <div class="ruleTopic">
              <a name="ref16" >How do I know who gave me what?</a>
            </div>
            <div class="ruleContent">
              We help you keep track of who gave you what in Knack in the manage registry page.
              Each gift in the manage registry page has a contributors link.  Click it to see who gave you the gift as well as the note they left for you.
            </div>
          </div>

        </td>
      </tr>
    </table>


  </div>

</div>