<div id="footer">
  <table id="tbl-footer">
    <tbody>
    <tr>
      <td id="fmw">
        <table id="footer-menu-wrapper">
          <tr>
            <td><a href="/info/aboutus">About Knack</a></td>
            <td><a href="/info/policy">Site Policy</a></td>
          </tr>
          <tr>
            <td><a href="/info/tour">Tour</a></td>
            <td></td>
            <td></td>
            <td><a href="/partner/partnerslogin">Partner Login</a></td>
          </tr>
          <tr>
            <td><a href="http://knackregistry.zendesk.com">FAQ</a></td>
            <td></td>
          </tr>
        </table>
      </td>
      <td>
      </td>
      <td>
        <a target="_blank" id="bbblink" class="sehzbus" href="http://www.bbb.org/greater-san-francisco/business-reviews/internet-shopping/knack-in-san-francisco-ca-388285#bbblogo" title="Knack LLC, Internet Shopping, San Francisco, CA" style="display: block;position: relative;overflow: hidden; width: 100px; height: 38px; margin: 0px; padding: 0px;"><img style="padding: 0px; border: none;" id="bbblinkimg" src="https://seal-goldengate.bbb.org/logo/sehzbus/knack-388285.png" width="200" height="38" alt="Knack LLC, Internet Shopping, San Francisco, CA" /></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-goldengate.bbb.org' + unescape('%2Flogo%2Fknack-388285.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
      </td>
      <td>
        <div id="div-tf">
          <a href="http://www.facebook.com/pages/Knackregistrycom/118149381538155"><img src="/images/design/facebook.png" class="tf" alt="facebook"/></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
