<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="shortcut icon" href="/images/fav.gif" />
  <meta http-equiv="Content-Type" content="text/xhtml; charset='utf-8'"></meta>
  <style type="text/css">
 
    #login-site
    {
        margin: 25% auto;
        width: 200px;
        position: relative;
    }
    #login-site input
    {
      margin-bottom: 10px;
}
#login-site input[type=text], input[type=password]
{
  width: 200px;
}
  </style>
  <%= render :partial => 'layouts/analytics' %>
</head>
<body>
  <div id="wrapper">
    <%= yield %>
 </div>
 <%= render "layouts/snap_engage" %>
</body>
</html>