/**********************************************************
*  GENERAL
**********************************************************/
a
{
    color: #999999;
}

table
{
    border-collapse:collapse;
}

#wrapper
{
    width: 975px;
    margin: auto;
    min-height: 600px;
    margin-top: 20px;
}

html
{
    height: 100%;
}

/*@font-face {
  font-family: Helvetica;
  src: local("Helvetica"),
        local("helvetica"),
       url('/fonts/helr45w.ttf') format("opentype");
}*/

/**********************************************************
*  HEADER
**********************************************************/
#user-block
{
    top:0;
    width: 975px;
    text-align: right;
    color: #999999;
}
#header
{
    width: 100%;
    height: 50px;
    position: relative;
}

#logo
{
    float:left;
    margin-left: 27px;
    width: 207px;
    height: 46px;
}

#tbl-nav
{
    width: 680px;
    position: absolute;
    margin-top: -40px;
/*    margin-left: 264px; not ie7*/

}

#tbl-nav td
{
    border: none;
    padding: 0px;
}

#navbar
{
    width: 765px;
    position: absolute;
/*    bottom: 0px;*/
    color: #999999;
    margin: 28px auto auto 27px;
}

#navbar ul
{
    list-style-type: none;
    margin: auto auto 0 auto;
    padding: 0;
    vertical-align: bottom;
}

#navbar ul li
{
    display: inline;
    float: left;
    position: relative;
    text-align: center;

}



#navbar ul li a
{
    display:block;
    text-decoration:none;

}

#gr
{
    background: url('/images/design/home/gray.png') repeat-x;
    height: 10px;
}

.b5
{
    top: 8px;
    position: relative;
    font:16px Helvetica, sans-serif;
}

.menu-block
{
    width:107px;
    height: 34px;
    vertical-align: middle;
    border-right: 1px solid #cdcdcd;
}

#dm-home:hover
{
    background:none repeat scroll 0 0 #f7f6f0;
}

#dm-give:hover
{
    background:none repeat scroll 0 0 #d9e5f2;
}

#dm-receive:hover
{
    background:none repeat scroll 0 0 #f6d4d4;
}

#dm-browse:hover
{
    background:none repeat scroll 0 0 #d9e5cc;
}

#div-fb
{
    margin-right: -4px;
    margin-top: 0;
}

#div-rl
{
    margin: 7px 20px 0 50px;
}

#div-rl a
{
    text-decoration: none;
    font: 12px helvetica,sans-serif;
}

#login-block
{
    right: 70px;
    bottom: 5px;
    position: absolute;
}

#login-block a
{
    text-decoration: none;
}

.div-c
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#menu_holder
{
    border: 1px solid #cdcdcd;
    margin-right: 31px;
    margin-top: 22px;
    width: 247px;
    height: 58px;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    vertical-align: middle;
}

#it-find
{
    width: 168px;
    margin: 18px auto auto 10px;
}

#div-btn-find-top
{
    background: url('/images/design/btn-find-off.gif') no-repeat;
    width: 47px;
    height: 23px;
    margin:-22px 192px;
}

#div-btn-find-top:hover
{
    background: url('/images/design/btn-find-on.gif') no-repeat;
}

a img
{
    border: none;
}

.d100
{
    width: 100px;
}

.d200
{
    width: 200px!important;
}

.w100
{
    width: 100px!important;
}

.w150
{
    width: 150px!important;
}

.w200
{
    width: 200px!important;
}

.w350
{
    width: 350px!important;
}

.ml100
{
   margin-left: 100px;
}

.mt10
{
    margin-top: 10px;
}

.mt60
{
    margin-top: 60px;
}

.pb5
{
    padding-bottom: 5px;
}

.pb20
{
    padding-bottom: 20px;
}

.pos-r
{
    text-align: right;
}


.tar
{
    text-align: right;
}

.fr
{
    float: right;
}

/**********************************************************
*  FOOTER
**********************************************************/
#footer
{
    height: 75px;
    background: #f7f6f0 repeat;
    margin:auto;
    width:975px;
    margin-bottom: 0px;
    clear: both;
}

#footer
{
    font-size: 9.5px;
    font-family: "Helvetica", "Arial";
}

#footer-menu-wrapper
{
/*    margin: 19px auto auto 50px;*/
    margin:4px auto auto 47px;
}

.menu-footer
{
/*    float: left;*/

}

#tbl-footer
{
    width: 100%;
    height: 75px;
}


#footer-menu-wrapper a
{
    text-decoration: none;
}

#footer-menu-wrapper tr
{
    height: 16px;
}

#footer-menu-wrapper td
{
    border-right: 14px solid #f8f6f1;
}

#footer-menu-wrapper a:hover
{
    text-decoration: underline;
}

.menu-footer ul
{
    list-style-type: none;
}

.menu-footer ul li
{
    padding-bottom: 7px;
}

#img-about
{
    background: url('/images/design/about.png') no-repeat;
    width: 152px;
    height: 75px;
    margin:-1px auto auto -4px;
/*    position: absolute;*/
}

#fmw
{
    width: 460px;
}

#img-about:hover
{
    background: url('/images/design/about-on.png') no-repeat;
}

.tf
{
    width: 24px;
    height: 24px;
    padding-left: 3px;
}

#div-tf
{
    float: right;
    margin:14px 30px auto auto;
}



/**********************************************************
*  CONTENT
**********************************************************/

#content{
    margin-top: 38px;
}
/* ================ top ====================== */
.topMenu{
    width: 915px;
    margin-left: auto;
    margin-right: auto;
    height: 49px;
}

.topMenu table{
    width: 100%;
    border: 0px;
}

.topMenu table .pageNameTD{
    width: 415px;
    text-align: left;
    padding-left: 1px;
    vertical-align: bottom;
    font-family: Helvetica,sans-serif;
    font-size: 32px;
    font-weight: lighter;
    color: #6699cc;
}

.topMenu table .topMenuTD{
    width: 500px;
    text-align: right;
    padding-right: 9px;
    vertical-align: bottom;
    padding-bottom: 4px;
}

.topMenu table .topMenuTD a{
    margin-left: 13px;
    text-decoration: none;
    font-size: 11.5px;
    color: #999999;
}

.div-c{
    font-family: 'Arial';
    color: #8c8c8c;

}

.pageName
{
    text-align: left;
    padding-left: 1px;
    vertical-align: bottom;
    font-family: Helvetica,sans-serif;
    font-size: 32px;
    font-weight: lighter;
    color: #6699cc;
    float: left;
    height: 49px;
    margin: 0px;
}
.withBackground{
    clear: both;
    margin-top: 0px;
    margin-left: -3px;
/*    background-image: url('/images/design/Registrant/searchBackGround.png');*/
    background-image: url('/images/table-head.png');
    background-repeat:repeat-x;
    background-position: 0 0;
    min-height: 100px;
}

#line-header
{
    margin:42px auto auto -1px;
    position:absolute;
    width:915px;
}
/* ============================================*/



.content{
    width: 915px;
    margin-left: auto;
            margin-right: auto;
}

.Line{
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}
